.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 24px;
}

.image-rsp {
    width: 100%;
}

.md1 {
    width: 8.33%;
}

.md2 {
    width: 16.66%;
}

.md3 {
    width: 24.99%;
}

.md4 {
    width: 33.32%;
}

.md5 {
    width: 41.65%;
}

.md6 {
    width: 50%;
}

.md7 {
    width: 58.31%;
}

.md8 {
    width: 66.64%;
}

.md9 {
    width: 74.97%;
}

.md10 {
    width: 83.3%;
}

.md11 {
    width: 91.63%;
}

.md12 {
    width: 100%;
}

.navbar-menu {
    padding: 8px;
}
.navbar-menu > a {
    font-family: 'Roboto', sans-serif;
    min-height: 16px;
}

.navbar-menu-item {
    padding: 24px;
    cursor: pointer;
    min-height: 16px;
    text-decoration: none;
    color: #000000;
}

.navbar-menu-item:hover {
    background-color: rgba(255, 193, 34, .22);
}

.container {
    padding-top: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.btn {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border: 1px;
    border-radius: 0px;
    padding: 16px;
    color: white;
    background-color: #59B0F4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us {
    background-color: #FFC122;
    font-size: 24px;
}

.imange-icon {
    align-self: center;
    width: 80px;
    height: auto;
    background-size: contain;
}

.link_url {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    font-size: 24px;
    color: #266BAB;
}

.card {
    width: 344px;
    height: auto;
    background-color: #266BAB;
    border-radius: 5px;
    color: white;
}

.card-avatar {
    width: 105px;
    height: 105px;
    border: #FFF 3px solid;
    border-radius: 50%;
    display: flex;
    padding: 4px;
    justify-content: center;
    align-items: center;
}

@supports(object-fit: cover){
    .card-avatar > img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
      border-radius: 50%;
    }
}

h1 {
    font-size: 36px;
    margin: 0;
}

h2 {
    font-size: 32px;
    margin: 0;
}

h3 {
    font-size: 24px;
    margin: 0;
}

h4 {
    font-size: 18px;
    margin: 0;
}

h5 {
    font-size: 16px;
    margin: 0;
}

.subtitle {
    color: #266BAB;
    font-weight: normal;
}

.card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
}
.card-footer {
    padding: 22px;
    background-color: rgba(13, 42, 69, .20);
}

.type {
    width: 100%;
}

.card-body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
    padding: 8px;
    margin-bottom: 54px;
    padding: 22px;
}

.skill-card {
    border: #FFF 1px solid;
    padding: 4px 8px 4px 8px;
    margin-right: 8px;
    font-size: 8px;
    margin-bottom: 4px;
}

.skill-cards-zone{
    display: flex;
    flex-wrap: wrap;
}

.phrase {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 36px;
}

.services-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 300px;
}

.services-card > img{
    width: auto;
    height: 96px;
}

.floating-button {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-right: 36px;
    background-color: rgba(9, 9, 9, .08);
}

.floating-button > img {
    height: 40px;
    width: 40px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 96px;
    padding-bottom: 48px;
}

.footer-links {
    display: flex;
    flex-direction: row;
}

.footer-links > img{
    width: 40px;
    height: 40px;
    margin-left: 80px;
}