.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services-text {
  font-weight: 100;
}

.labels-contact {
  display: none;
}

.folder {
  background-color: rgba(196, 196, 196, 0.1);
}

.lashes {
  display: flex;
  flex-direction: row;
}

.lash {
  width: 224px;
  height: 56px;
  margin-right: 16px;
}

.l-active {
  background-color: rgba(196, 196, 196, 0.1);
}

.l-inactive {
  background-color: rgba(196, 196, 196, 0.47);
}

.contact-us {
  width: 224px !important;
  height: 48px !important;
}

.mini-card {
  width: 152px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 100px;
  background-color: rgba(38, 107, 171, 0.2);
  color: #000000;
  padding-left: 24px;
  padding-right: 24px;
}

.mini-card:hover {
  color: #ffffff;
  background-color: rgba(38, 107, 171, 0.65);
}

.navbar-gray {
  padding: 0;
  background-color: rgba(9, 9, 9, 0.08);
}

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 36px 352px 72px 352px;
  background-color: rgba(9, 9, 9, 0.08);
}

.jumbotron > h1 {
  font-size: 64px;
  font-weight: normal;
}

.jumbotron > h2 {
  font-size: 30px;
  font-weight: normal;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

form > input,
form > textarea {
  width: 64vw;
  height: 64px;
  margin-bottom: 24px;
  padding-left: 24px;
  font-size: 20px;
}

form > button {
  border: none;
  background-color: #000000;
  color: #ffffff;
  width: 176px;
  height: 64px;
}

textarea {
  padding-top: 16px;
  font-family: "Roboto", sans-serif;
  height: 128px !important;
}

.sidebar,
.sidebar-menu {
  display: none;
}

.menu-icon {
  width: 45px;
  height: 36px;
  padding: 24px;
}

.arrow-navigation {
  width: 8vw;
  height: 32vw;
  background-color: rgba(196, 196, 196, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  display: none;
}

#left-navigation {
  position: absolute;
  align-self: end;
}

#right-navigation {
  position: absolute;
  align-self: flex-end;
}

.chevron {
  height: 8vw;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

p {
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  font-size: 24px;
}

.image-rsp {
  width: 100%;
}

.md1 {
  width: 8.33%;
}

.md2 {
  width: 16.66%;
}

.md3 {
  width: 24.99%;
}

.md4 {
  width: 33.32%;
}

.md5 {
  width: 41.65%;
}

.md6 {
  width: 50%;
}

.md7 {
  width: 58.31%;
}

.md8 {
  width: 66.64%;
}

.md9 {
  width: 74.97%;
}

.md10 {
  width: 83.3%;
}

.md11 {
  width: 91.63%;
}

.md12 {
  width: 100%;
}

.navbar-menu {
  padding: 8px;
}
.navbar-menu > a {
  font-family: "Roboto", sans-serif;
  min-height: 16px;
}

.navbar-menu-item {
  padding: 24px;
  cursor: pointer;
  min-height: 16px;
  text-decoration: none;
  color: #000000;
}

.navbar-menu-item:hover {
  background-color: rgba(255, 193, 34, 0.22);
}

.container {
  padding-top: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.btn {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  border: 1px;
  border-radius: 0px;
  padding: 16px;
  color: white;
  background-color: #59b0f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-us {
  background-color: #ffc122;
  font-size: 24px;
}

.imange-icon {
  align-self: center;
  width: 80px;
  height: auto;
  background-size: contain;
}

.link_url {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  text-decoration: none;
  font-size: 24px;
  color: #266bab;
}

.card {
  width: 344px;
  height: auto;
  background-color: #266bab;
  border-radius: 5px;
  color: white;
}

.card-avatar {
  width: 105px;
  height: 105px;
  border: #fff 3px solid;
  border-radius: 50%;
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
}

@supports (object-fit: cover) {
  .card-avatar > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
  }
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 32px;
  margin: 0;
}

h3 {
  font-size: 24px;
  margin: 0;
}

h4 {
  font-size: 18px;
  margin: 0;
}

h5 {
  font-size: 16px;
  margin: 0;
}

.subtitle {
  color: #266bab;
  font-weight: normal;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 22px;
}
.card-footer {
  padding: 22px;
  background-color: rgba(13, 42, 69, 0.2);
}

.type {
  width: 100%;
}

.card-body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: lighter;
  padding: 8px;
  margin-bottom: 54px;
  padding: 22px;
}

.skill-card {
  border: #fff 1px solid;
  padding: 4px 8px 4px 8px;
  margin-right: 8px;
  font-size: 8px;
  margin-bottom: 4px;
}

.skill-cards-zone {
  display: flex;
  flex-wrap: wrap;
}

.phrase {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
  font-size: 36px;
}

.services-card {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 300px;
}

.services-card > img {
  width: auto;
  height: 96px;
}

.floating-button {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  margin-right: 36px;
  background-color: rgba(9, 9, 9, 0.08);
}

.floating-button > img {
  height: 40px;
  width: 40px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 16px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 96px;
  padding-bottom: 48px;
}

.footer-links {
  display: flex;
  flex-direction: row;
}

.footer-links > img {
  width: 40px;
  height: 40px;
  margin-left: 80px;
}

.valiator {
  color: red;
}

.label-input {
  font-size: 16px;
  font-weight: bold;
  align-self: flex-start;
  margin-bottom: 8px;
}

@media (max-width: 1000px) {
  .folder {
    justify-content: flex-end;
  }

  .mini-card {
    width: 64vw;
    margin-bottom: 16px;
  }
  .mini-card-section {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .contact-us,
  .ceo-dot,
  .link_url,
  body > div:nth-child(2) > div > div:nth-child(2) > p:nth-child(5) {
    display: none;
  }

  .xsl1 {
    width: 8.33% !important;
  }

  .xsl2 {
    width: 16.66% !important;
  }

  .xsl3 {
    width: 24.99% !important;
  }

  .xsl4 {
    width: 33.32% !important;
  }

  .xsl5 {
    width: 41.65% !important;
  }

  .xsl6 {
    width: 50% !important;
  }

  .xsl7 {
    width: 58.31% !important;
  }

  .xsl8 {
    width: 66.64% !important;
  }

  .xsl9 {
    width: 74.97% !important;
  }

  .xsl10 {
    width: 83.3% !important;
  }

  .xsl11 {
    width: 91.63% !important;
  }

  .xsl12 {
    z-index: 1;
    width: 100% !important;
  }

  .phrase {
    text-align: center;
    font-size: 24px;
  }

  h2 {
    font-size: 24px;
  }

  .f-s-40 {
    width: 50%;
    text-align: center;
    font-size: 40px;
  }

  .card {
    width: 368px;
    margin-right: 108px;
  }

  .card-section {
    width: auto;
    flex-wrap: nowrap;
  }

  .overflow-x {
    overflow-x: scroll;
  }

  .service-section {
    width: auto;
    flex-wrap: nowrap;
  }

  .services-card > h1 {
    font-size: 64px;
    font-weight: normal;
  }

  .services-card > img {
    height: 192px;
    width: 192px;
  }

  .arrow-navigation {
    width: 8vw;
    height: 32vw;
    background-color: rgba(196, 196, 196, 0.4);
    display: flex !important;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: block;
  }

  .services-card {
    width: 100vw;
    height: 640px;
  }

  .footer-links > img {
    width: 36px;
    height: 36px;
    margin-left: 80px;
  }

  .mini-card-section {
    flex-direction: column;
  }

  .folder {
    justify-content: flex-end;
  }

  .title-contact-us {
    font-size: 32px;
  }

  .services-btn {
    width: 216px !important;
    height: 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    display: block;
  }

  .folder > .column > h5,
  .folder > .column > p {
    display: none;
  }

  .labels-contact {
    display: block;
  }

  .title-form {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 32px;
  }

  .navbar-gray {
    background-color: #ffffff;
  }

  .jumbotron {
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  form > input,
  form > textarea {
    width: 92%;
    height: 32px;
    border: #000000 1px solid;
    border-radius: 5px;
    margin-bottom: 24px;
    padding-left: 24px;
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  footer {
    flex-direction: column-reverse;
  }
}

@media (max-width: 425px) {
  .xs1 {
    width: 8.33% !important;
  }

  .xs2 {
    width: 16.66% !important;
  }

  .xs3 {
    width: 24.99% !important;
  }

  .xs4 {
    width: 33.32% !important;
  }

  .xs5 {
    width: 41.65% !important;
  }

  .xs6 {
    width: 50% !important;
  }

  .xs7 {
    width: 58.31% !important;
  }

  .xs8 {
    width: 66.64% !important;
  }

  .xs9 {
    width: 74.97% !important;
  }

  .xs10 {
    width: 83.3% !important;
  }

  .xs11 {
    width: 91.63% !important;
  }

  .xs12 {
    z-index: 1;
    width: 100% !important;
  }

  .navbar-menu {
    display: none;
  }

  .sidebar-menu {
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 3;
    display: none;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    align-items: center;
  }

  .menu-list > a {
    font-size: 24px;
  }

  .close-buttom {
    margin-top: 10%;
    margin-left: 80%;
    width: 40px;
    height: 40px;
  }

  .sidebar {
    display: block;
  }

  .header-page {
    flex-direction: column-reverse;
  }

  .header-page > .column {
    display: flex;
    text-align: center;
  }

  h2 {
    font-size: 32px !important;
  }

  .title_hundreds {
    display: flex;
    text-align: center;
    margin-bottom: 8px;
    font-size: 24px !important;
  }

  .header-page > .column > p {
    width: 70%;
    display: flex;
    align-self: center;
  }

  .card {
    margin-left: 32px;
  }

  .header-page > .column > h3,
  .header-page > .column > h1 {
    display: none;
  }

  .arrow-navigation {
    width: 48px;
    height: 152px;
    background-color: rgba(196, 196, 196, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .services-card {
    height: 360px;
  }

  .services-card > h1 {
    font-size: 40px;
    font-weight: normal;
  }

  .services-card > img {
    height: 80px;
    width: 80px;
  }

  .footer-links {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .footer-links > img {
    width: 32px;
    height: 32px;
    margin: 0;
  }

  .mini-card-section {
    flex-direction: column;
  }

  .mini-card {
    width: 80%;
    margin-bottom: 16px;
  }

  .title-contact-us {
    width: 100%;
    padding-left: 8px;
    font-size: 24px !important;
  }

  .services-btn {
    margin-top: 16px;
    width: 40vw !important;
    height: 40px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    display: block;
  }

  form {
    align-items: center;
  }

  .label-input {
    width: 90%;
    align-self: inherit;
  }

  .folder {
    flex-direction: column;
  }

  form > input,
  form > textarea {
    width: 80%;
    height: 32px;
    border: #000000 1px solid;
    border-radius: 5px;
    margin-bottom: 24px;
    padding-left: 24px;
    font-size: 20px;
  }
}
